{% extends "assets/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="row mr-4 ml-4">
        <div class="col-md-10">
            <div class="content-section" style="overflow-x:auto;">
                <div class="container">
                    <legend class="mb-3">Hello {{ request.user }}
                        <a style = "position:absolute; right:50px;" class="mb-4 btn btn-secondary" href="{% url 'createAssets' %}">Add Asset</a>
                    </legend>
                </div>
                <div class="mb-4 ml-3">
                    Action:
                    <select class="ml-2" name="action" value="">
                        <option> ------ </option>
                        <option>Delete selected asset(s)</option>
                    </select>
                    <button class="ml-2 btn btn-sm btn-danger" type="submit">Go</button>
                </div>
                <table class="table table-condensed table-hover responsive">
                    <tr>
                        <th>Select</th>
                        <th>Asset ID</th>
                        <th>Asset Type</th>
                        <th>Asset Name</th>
                        <th>Brand</th>
                        <th>Is Active</th>
                        <th>Current Owner</th>
                    </tr>
                        {% for asset in asset_filter.qs %}
                        <tr>
                            <td>
                                <div class="form-group form-check">
                                    <input type="checkbox" name="assetList[]" class="form-check-input" value="{{ asset.pk }}">
                                    <label class="form-check-label"></label>
                                </div>
                            </td>
                            <td><a href="{% url 'asset-update' id=asset.id%}">{{ asset.id }}</a></td>
                            <td>{{ asset.asset_type }}</td>
                            <td>{{ asset.asset_name }}</td>
                            <td>{{ asset.brand }}</td>
                            <td>{{ asset.isActive }}</td>
                            <td>{{ asset.currentOwner }}</td>
                        </tr>
                        {% endfor %}
                </table>    
            </div>
        </div>
    </form>
        <!-- <div class=""> -->
            <div class="col-md-2 mb-4">
                <h4>Filters</h4>
                <form method="get">
                    {{ asset_filter.form|crispy }}
                    <button class="btn btn-sm btn-primary mt-2">Filter</button>
                </form>
            </div>
        <!-- </div> -->

    </div>
{% endblock content%}