{% extends 'assets/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Asset{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <legend class="border-bottom mb-4">Add new asset</legend>
            <fieldset class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="asset-type">Asset Type</label>
                      <br>
                      <select class="form-group form-control col-md-8" name="asset-type" id="asset-type">
                        <option  value="" selected="selected">--- SELECT ASSET TYPE ---</option>
                        {% for type in asset_type_list %}
                            <option value="{{type.title}}">
                                {{type.title|capfirst}}
                            </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="asset-name">Asset Name</label>
                      <input required type="text" class="form-control" id="asset-name" name="asset-name" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="location">Location</label>
                      <input required type="text" class="form-control" id="location" name="location" value="">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="brand">Brand</label>
                      <input required type="text" class="form-control" id="brand" name="brand" value="">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="purchase_year">Purchase Year</label>
                      <input required type="number"  min="1900" max="2099" step="1" class="form-control" id="purchase_year" name="purchase_year" value="">
                    </div>
                  </div>
                  <div class="form-row">
                    <div>
                        <label for="purchase_year">Is Active?</label>
                        <input required type="checkbox" id="is-active" name="is-active" value="">
                    </div>
                  </div>
            </fieldset>
            <input type="hidden" class="form-control" name="pdict" value="{{cuser}}">
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}

