{% extends "assets/base.html" %}

{% block content %}
        <div class="content-section mt-8 container">
            </br>
            Filter by:
            <form class="mt-2 mb-2" method="get" action="">
                <select name="type">
                    <option>Asset Type</option>
                    {% for type in typeList %}
                        <option>{{ type }}</option>
                    {% endfor %}
                </select>

                <select name="brand">
                    <option>Brand</option>
                    {% for brand in brandList %}
                        <option>{{ brand }}</option>
                    {% endfor %}
                </select>

                <select name="isActive">
                    <option selected>isActive</option>
                    <option>True</option>
                    <option>False</option>
                </select>

                <select name="year">
                    <option>Purchase year</option>
                    {% for year in purchaseYearList %}
                        <option>{{ year }}</option>
                    {% endfor %}
                </select>

                <select name="location">
                    <option>Location</option>
                    {% for location in locationList %}
                        <option>{{ location }}</option>
                    {% endfor %}
                </select>

                <select name="owner">
                    <option>Owner</option>
                    {% for owner in ownerList %}
                        <option>{{ owner }}</option>
                    {% endfor %}
                </select>

                <button class="btn btn-sm btn-primary" type="submit">Filter</button>
            </form>
    
            <div class="row">
                <div class="col-12">
                    <ul>
                        {% for asset in queryset %}
                        <li>
                            {{ asset.id }} &emsp;
                            <strong>{{ asset.asset_name }}&emsp;</strong>
                                    {{ asset.asset_type }}&emsp;
                            <strong>{{ asset.brand }}</strong>&emsp;
                                    {{ asset.isActive }}&emsp;
                            <strong>{{ asset.purchase_year }}</strong>&emsp;
                                    {{ asset.location }}&emsp;
                            <strong>{{ asset.currentOwner }}</strong>&emsp;
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}